@font-face {
    font-family: "Bebas-Neue";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Roboto"),
         url("/fonts/Bebas\ Neue/Bebas Neue Cyrillic.ttf") format("ttf"),
         url("/fonts/Bebas\ Neue/BebasNeue-Regular.ttf") format("ttf");
  }




*{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
}
p,h1,h2,h3,h4,h5,button,span{
    font-family: "Bebas-Neue";
}
button:hover{
    cursor: pointer;
}
body{
    margin: 0;
    padding: 0;
}




header{
    background: url(/photo/bg/man\ x1366.png);
    
}
.header_wrapper{
    height: 900px;
    background: radial-gradient(100% 100% at 50% 0%, rgba(14, 42, 58, 0) 27.6%, #11181B 100%);
    padding-bottom: 140px;
}
.header{
    padding: 40px 60px 320px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lubimka{
    display: flex;
    padding-top: 10px;
    
}

.lub{
    margin-left: 100px;
}

.lubimka a{
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
}

.point{
    position: relative;
    left: 45%;
    margin-top: 10px;
    padding: 2px;
    width: 5px;
    height: 5px;
    border: 1px solid #ABB3FF;
    border-radius: 50px;
}

.point div{
    border-radius: 60px;
    width: 5px;
    height: 5px;
    background: #fff;
}

.reg{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}
.reg button{
    background: none;
    margin-left: 40px;
}
.reg i{
    font-size: 24px;
}
.btn{
    font-family: 'Bebas Neue';
    padding: 12px 35px;
    background: none;
    border: 1px solid;
    border-radius: 50px;
}
.header_img{
    height: 240px;
    margin: 0 20%;
}
.img_mister {
    width: 180px;
    position: relative;
    left: 370px;
    bottom: 20px;
}
.img_lubimka {
    position: relative;
    bottom: 150px;
}
.img_lubimka img{
    width: 720px;
}

.title p{
    font-stretch: ultra-condensed;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
.timer{
    line-height: 1;
    margin-top: 30px;
    margin-left: 25px;
}
.timer p{
    font-stretch: ultra-condensed;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
}
.timer span{
    font-weight: 400;
    line-height: 62px;
    opacity: 1;
    text-align: center;
    display: inline-block;
    font-size: 62px;
}

.angle_down{
    position: relative;
    left: 51%;
    transform: translate(-50%, 0);
    background: none;
    text-align: center;
    margin-top: 40px;
}
.angle_down i{
    justify-content: center;
    align-items: center;
    font-size: 44px;
}
.angle_down:hover{
    cursor: pointer;
}

/*Main*/
main{
    
}

.vote_wrapper{
    background: #11181B;
    width: 100%;
}
.vote_wrapper_2{
    background: url(/photo/bg/points.png);
}
.vote_title{
    padding: 0 150px;
    background: #13191b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 85px;
}
.vote{

}
.vote h3{
    font-size: 45px;
    text-transform: uppercase;
    line-height: 0.6;
}
.vote span{
    font-size: 20px;
    line-height: 20px;
    background: linear-gradient(323.03deg, #0550B6 13.04%, #5D05B6 89.6%);
    border-radius: 2px;
}
.vote_text{
    opacity: 0.8;
}
.vote_text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.mister_man{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.mister_man_2{
    display: flex;
    justify-content: space-evenly;
}

.caption{
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.caption span{
    font-size: 14px;
    background: linear-gradient(3deg, #006AF8 30%, #4C15E8 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.man {
    width: 280px;
    height: 380px;
}
.mister_man_card {
}
.man_btn{
    position: relative;
    bottom: 40px;
    right: 10px;
}
.man_btn button{
    position: static;
    z-index: -1;
    border-radius: 20px;
    padding: 0px 100px 20px 100px;
    border: 2px #0550B6 solid;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
}
.man_btn button:hover{
    cursor: pointer;
}

.application_wrapper{
    height: 750px;
    background: url(/photo/bg/man_cigar\ x1366.png) no-repeat;
}
.application_content{
    background: linear-gradient(360deg,rgba(196, 196, 196, 0)  50.44%,#11181B  200%);
  
    padding: 300px 150px;
}
.application_content h3{
    text-transform: uppercase;
    font-size: 48px;
    padding-bottom: 25px;
}

.application_content p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 60px;
}
.application_content button{
    
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 60px;
    border: 1px #fff solid;
    background: none;
}

/* footer */
footer{
    background: #11181B;
}

.FAQ{
    display: flex;
    width: 170px;
    height: 170px;
    background: rgba(70, 173, 207, 0.2);
}
.FAQ h4{
    margin-bottom: 70px;
    font-size: 70px;
    line-height: 0.1;
    text-transform: uppercase;
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
}
.FAQ p{
    padding-top: 100px;
    padding-left: 90px;
    text-transform: uppercase;
    font-size: 24px;
}
.FAQ span{
    font-size: 20px;
}
.questions{
    background: linear-gradient(180deg, #000000 0%, rgba(8, 0, 19, 0) 48.96%, rgba(8, 0, 19, 0) 66.15%, #11181B 100%)
}
.questions_content{
    
}
.questions_wrapper{
    padding-top: 200px;
    display: flex;
    justify-content: space-evenly;
    height: 600px;
}
.questions_block{
    margin-top: 20px;
}
.questions_btn{
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 570px;
    background: none;
    border: 2px solid #3ea2c0;
    border-radius: 50px;
    padding: 20px 35px 20px 35px;
}
.questions_btn:hover{
    cursor: pointer;
}
.questions_btn p i{
    font-size: 16px;
}
.questions_btn p{
    text-transform: uppercase;
}
.questions section{
    background: #11181B;
    padding-bottom: 120px;
}